<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wpy.map"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <!-- 获取设置信息和详情页直接拨打电话需要以下权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE" >
    </uses-permission>
    <!-- 使用定位功能所需权限,demo已集成百度定位SDK,不使用定位功能可去掉以下6项 -->
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </permission>

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <!-- 使用导航功能所需权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 添加屏幕支持 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <!-- 百度地图的key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="EDz2duv0RKCpK7BsrI0Y8Z1s" />
        <!-- 腾讯地图的key -->
        <meta-data
            android:name="TencentMapSDK"
            android:value="EDEBZ-ECYRU-O3WVR-23BYM-5IKC6-6MFZF" />

        <activity
            android:name="com.wpy.map.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wpy.map.activity.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wpy.map.activity.GuideViewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wpy.map.activity.IntroActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wpy.map.activity.IntroDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wpy.map.activity.NewsDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wpy.map.activity.StreetViewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wpy.map.activity.RouteGuideActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wpy.map.activity.BNavigatorActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wpy.map.activity.IntroActivityMapActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wpy.map.activity.IntroActivityDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wpy.map.activity.AlarmDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AlarmDialog" >
        </activity>
        <activity
            android:name="com.wpy.map.activity.EventRemindDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AlarmDialog" >
        </activity>
        <activity
            android:name="com.wpy.map.activity.RecourseActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wpy.map.activity.FeedBackActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wpy.map.activity.AboutActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>